@charset "UTF-8";
/*
!----------------------- подключения стилей-------------------!
*/
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=PT+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*
!---------------------- Подключения шрифта -------------------!
*/
/*
font-family: 'Exo 2', sans-serif;
font-family: 'PT Sans', sans-serif;
*/
/*
!-----------mixin-----------!
*/
/*
!----------------------  -------------------!
*/
body {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

/*
!-------------header-------------!
*/
header {
  position: relative;
}

.header__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 2;
  display: flex;
  padding: 109px 20px 173px 20px;
  row-gap: 66px;
}
.header__title {
  padding: 6.53% 5.65% 0px 0px;
  display: flex;
  flex-direction: column;
  width: 48.79%;
  row-gap: 30px;
}
.header__title h1 {
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 52px;
  line-height: 125%;
  color: #363738;
}
.header__title p {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
}
.header__title a {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #363738;
  position: relative;
}
.header__title a::after {
  content: "";
  position: absolute;
  width: 104px;
  height: 0px;
  bottom: -10px;
  left: 0;
  border-bottom: 3px solid #FFCE50;
}
.header__img {
  width: 51.21%;
  border-radius: 20px 0px 20px 20px;
  overflow: hidden;
  display: flex;
  align-items: end;
}
.header__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
.header__bg {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.header__bg-left {
  width: 56.53%;
}
.header__bg-right {
  width: 43.47%;
  background: #0B7572;
}

@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 0;
  }
  .header__title {
    width: 76.95%;
    padding: 0;
  }
  .header__img {
    width: 100%;
    border-radius: 20px 20px 0px 20px;
  }
  .header__img img {
    width: 105%;
    height: auto;
  }
  .header__bg-left {
    width: 76.95%;
  }
  .header__bg-right {
    width: 23.04%;
  }
}
@media (max-width: 522px) {
  .header__bg {
    flex-direction: column-reverse;
  }
  .header__bg-left {
    display: none;
  }
  .header__bg-right {
    width: 100%;
    height: 100%;
  }
  .header__container {
    padding-top: 75px;
    padding-bottom: 181px;
  }
  .header__container div,
.header__container h1,
.header__container p,
.header__container a {
    color: white;
  }
  .header__img {
    border-radius: 20px 20px 20px 20px;
  }
}
/*
!--------hero----------!
*/
.hero__list {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: -106px;
  position: relative;
  z-index: 3;
}
.hero__list ul {
  display: flex;
  padding: 40px 1.29% 40px;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.hero__list ul li {
  padding: 0 5.24%;
}
.hero__list ul li a {
  transition: 0.3s;
}
.hero__list ul li a:hover {
  opacity: 0.8;
}
.hero__list ul li a:active {
  opacity: 0.5;
}
.hero__list ul li:not(:first-child) {
  border-left: 1px solid #D7D7DD;
}
.hero__list-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 92px;
  background: #E9E9EC;
  border-radius: 50%;
}
.hero__list-title-box h3 {
  margin-top: 24px;
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  color: #363738;
}
.hero__list-title-box p {
  margin-top: 16px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
}

/*
!--------------------adaptive--------------!
*/
@media (max-width: 768px) {
  .hero__list {
    margin-top: 0px;
  }
  .hero__list ul {
    flex-direction: column;
    background: none;
    box-shadow: none;
    border-radius: none;
    row-gap: 16px;
  }
  .hero__list ul li {
    padding: 32px;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }
  .hero__list ul li:not(:first-child) {
    border-left: none;
  }
  .hero__list ul li a {
    display: flex;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .hero__list ul li a h3 {
    margin: 0;
  }
  .hero__list ul li a p {
    margin-top: 20px;
  }
  .hero__list-img {
    box-sizing: content-box;
    min-width: 90px;
    height: 90px;
  }
}
@media (max-width: 522px) {
  .hero__list {
    margin-top: -125px;
  }
  .hero__list ul {
    display: flex;
    padding: 24px 27px 32px 32px;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    row-gap: 24px;
  }
  .hero__list ul li {
    padding: 0;
    justify-content: space-between;
    background: none;
    box-shadow: none;
    border-radius: none;
  }
  .hero__list ul li a {
    display: inline-flex;
    flex-direction: column;
    row-gap: 16px;
  }
}
/*
!-------------poll----------------!
*/
.poll {
  margin-top: 100px;
}
.poll__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
}
.poll__left {
  width: 55.4%;
}
.poll__left h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  color: #363738;
}
.poll__left > p {
  margin-top: 32px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
}
.poll__radio-box {
  margin-top: 40px;
}
.poll__radio-box ul {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.poll__radio-box input {
  position: absolute;
  visibility: hidden;
}
.poll__radio-box input:checked ~ .poll__ellipse::after {
  background: #0B7572;
}
.poll__radio-box li {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 40px 40px 48px 40px;
  position: relative;
  overflow: hidden;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.poll__lable {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  cursor: pointer;
}
.poll__lable:hover {
  opacity: 0.8;
}
.poll__lable:active {
  opacity: 0.5;
}
.poll__ellipse {
  display: flex;
  min-width: 24px;
  height: 24px;
  background: #FFFFFF;
  border: 1px solid #CBCBCD;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  position: relative;
  margin-top: 8px;
}
.poll__ellipse::after {
  content: "";
  display: flex;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.poll__lable-title h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #363738;
}
.poll__lable-title p {
  margin-top: 24px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
}
.poll__bg-shape {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-flex;
  border-bottom: 61.5px solid #E9E9EC;
  border-left: 193px solid transparent;
}
.poll__right {
  display: flex;
  justify-content: center;
  margin-top: 162px;
  width: 44.6%;
  height: 100%;
}
.poll__right h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #363738;
}
.poll__right-numb {
  font-weight: 600;
  font-size: 54px;
  line-height: 150%;
  color: #363738;
}
.poll__right-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #6B6B6C;
}
.poll__right-box {
  padding: 39px 0px;
  border-bottom: 1.5px solid #FFCE50;
}

/*
!----------------adaptive------------------!
*/
@media (max-width: 768px) {
  .poll__right {
    display: none;
  }
  .poll__left {
    width: 100%;
  }
}
@media (max-width: 522px) {
  .poll__radio-box li {
    padding: 16px;
  }
}
/*
!----------------advantages-------------!
*/
.advantages {
  margin-top: 100px;
}
.advantages__list {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.advantages__list ul {
  margin-top: 72.5px;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: space-around;
}
.advantages__list li {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
  width: 530px;
}
.advantages__list-img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 80px;
  background: #E9E9EC;
  border-radius: 50%;
}
.advantages__list-text {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: center;
}
.advantages__list-text h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  color: #363738;
}
.advantages__list-text p {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
}
.advantages__title {
  position: absolute;
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  color: #fff;
  top: -257px;
}

.bg-image {
  display: flex;
  justify-content: end;
  position: relative;
  height: 450px;
}
.bg-image__laft {
  width: 41.32%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.bg-image__laft-position {
  width: 100%;
  height: 100%;
  position: relative;
}
.bg-image__laft-image {
  position: absolute;
  background: #0B7572;
  width: 200.5%;
  height: 100.05%;
  transform: skew(38deg);
  left: -100%;
}
.bg-image__center {
  position: absolute;
  width: 38.29%;
  height: 100%;
  left: 100.5%;
  top: 0;
  background: rgba(11, 117, 114, 0.3);
  transform: skew(38deg);
}
.bg-image__right {
  width: 80.55%;
  height: 100%;
}
.bg-image__right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 820px) {
  .bg-image__right {
    width: 100%;
  }
}
@media (max-width: 522px) {
  .advantages__list ul {
    justify-content: space-between;
  }
  .advantages__bg {
    display: none;
  }
  .advantages__title {
    position: -webkit-sticky;
    position: sticky;
    color: #363738;
  }
}
/*
!------------------completed--------------!
*/
.completed {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 120px;
}
.completed h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
}
.completed > p {
  margin-top: 32px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
}
.completed__list {
  margin-top: 56px;
}
.completed__list ul {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: space-between;
}
.completed__list li {
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}
.completed__list-img {
  width: 100%;
}
.completed__list-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.completed__list-text {
  padding: 24px 32px 32px;
}
.completed__list-text h4 {
  margin-top: 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  color: #363738;
}
.completed__list-subtitle {
  margin-top: 16px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
}
.completed__list-price {
  margin-top: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  color: #363738;
}
.completed__list-price::after {
  content: "";
  display: flex;
  width: 92px;
  height: 1.5px;
  margin-top: 10px;
  background: #FFCE50;
}
.completed__dots {
  justify-content: center;
  margin-top: 57px;
  display: flex;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.completed__dots span {
  display: flex;
  width: 18px;
  height: 18px;
  background: #E9E9EC;
  border-radius: 50%;
  position: relative;
}
.completed__dots span::after {
  content: "";
  width: 36px;
  height: 36px;
  border: 1px solid #0B7572;
  border-radius: 50%;
  position: absolute;
  top: -50%;
  left: -50%;
}

/*
!----------------adaptive-------------!
*/
@media (max-width: 867px) {
  .completed__list ul {
    flex-direction: column;
  }
  .completed__list-img {
    height: 247px;
  }
}
/*
!----------------attracted----------------!
*/
.attracted {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  background: #0B7572;
  margin-top: 129px;
  position: relative;
  display: flex;
  padding: 85px 56px;
}
.attracted h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  color: #fff;
}
.attracted__bg {
  position: absolute;
  left: 33px;
  height: 100%;
  top: 0;
  z-index: 1;
}
.attracted__bg img {
  position: relative;
  z-index: 1;
  height: 100%;
}
.attracted__right {
  max-width: 652px;
  background: #fff;
  padding: 28px 32px 40px;
  border-radius: 8px;
}
.attracted__title-list {
  padding-bottom: 32px;
  border-bottom: 1px solid #D7D7DD;
  display: flex;
  justify-content: space-between;
}
.attracted__title-list p {
  width: 274px;
  height: 62px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  color: #6B6B6C;
}
.attracted__logo {
  width: 103px;
  height: 36.49px;
}
.attracted__list-header-adaptive {
  display: none;
}
.attracted__list-header {
  margin-top: 32px;
  justify-content: space-around;
  padding: 4px 0;
  background: #0B7572;
}
.attracted__list-header p {
  padding: 6.5px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
.attracted__list-header ul {
  display: flex;
}
.attracted__list-header ul li {
  text-align: center;
}
.attracted__list-header ul li:nth-child(1n) {
  width: 113px;
}
.attracted__list-header ul li:nth-child(2n) {
  width: 148px;
}
.attracted__list-header ul li:nth-child(3n) {
  width: 173px;
}
.attracted__list-header ul li:nth-child(4n) {
  width: 154px;
}
.attracted__list-header ul li:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.attracted__list-box {
  padding: 8px 16px 24px 16px;
  background: #F9F9FB;
  border-radius: 0px 0px 8px 8px;
}
.attracted__list-box ul:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.attracted__list {
  display: flex;
}
.attracted__list li h4 {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 135%;
  color: #363738;
}
.attracted__list li:first-child {
  display: flex;
}
.attracted__list li:not(:first-child) {
  padding: 16px;
  flex-direction: column;
  width: 173px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.attracted__list li:last-child {
  width: 138px;
  padding: 16px 0px 0px 16px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.attracted__right-column-1 {
  padding-top: 16px;
  width: 97px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.attracted__right-column-2 {
  padding: 16px 16px 24px 16px;
  width: 148px;
}
.attracted__right-title {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #6B6B6C;
}
.attracted__right-price {
  margin-top: 10px;
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 14px;
  line-height: 135%;
  color: #363738;
}
.attracted__right-factory {
  margin-top: 10px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #6B6B6C;
}
.attracted__right-star {
  margin-top: 12px;
  width: 75px;
  height: 11px;
}
.attracted__right-post {
  margin-top: 10px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #6B6B6C;
}
.attracted__right-phone {
  margin-top: 12px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #363738;
}

.attracted__title {
  display: flex;
  position: relative;
  z-index: 2;
}

/*
!---------------adaptive----------------!
*/
@media (max-width: 1150px) {
  .attracted {
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .attracted__title {
    flex-direction: column;
    row-gap: 48px;
  }
}
@media (max-width: 712px) {
  .attracted__title-list p {
    display: none;
  }
  .attracted__list-header ul {
    display: none;
  }
  .attracted__list-header-adaptive {
    display: flex;
  }
  .attracted__list-header-adaptive p {
    margin-left: 16px;
  }
  .attracted__list-box ul {
    flex-direction: column;
  }
  .attracted__list-box ul li {
    min-width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 16px;
  }
  .attracted__list-box ul li:last-child {
    padding-bottom: 16px;
  }
  .attracted__list-box ul li:not(:first-child) {
    border-left: none;
  }
  .attracted__right-column-2 {
    width: auto;
  }
  .attracted__right-column-1 {
    border: none;
  }
}
/*
!--------------------stage---------------!
*/
.stages {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 120px;
}
.stages h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
}
.stages__list {
  margin-top: 48px;
  display: flex;
  justify-content: end;
}
.stages__list ul {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  max-width: 1183px;
}
.stages__list li {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  padding: 32px 11.15% 32px 96px;
  -moz-column-gap: 56px;
       column-gap: 56px;
  border-radius: 18px;
  position: relative;
  margin-left: 40px;
}
.stages__number {
  position: absolute;
  transform: translate(0%, -50%);
  top: 50%;
  left: 0;
}
.stages__number-box {
  position: relative;
}
.stages__list-img {
  width: 331px;
  height: 181px;
}
.stages__list-img img {
  width: 331px;
  height: 181px;
  -o-object-fit: cover;
     object-fit: cover;
}
.stages__list-text h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  color: #363738;
}
.stages__list-text h4::after {
  content: "";
  width: 86px;
  height: 3px;
  display: flex;
  background: #FFCE50;
  margin-top: 24px;
}
.stages__list-text p {
  margin-top: 24px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
}

.text {
  display: flex;
  width: 68px;
  height: 68px;
  background: #0B7572;
  font-weight: 600;
  font-size: 38px;
  line-height: 125%;
  align-items: center;
  color: #FFFFFF;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  top: 50%;
  right: 19px;
  transform: translate(0%, -50%);
}

.shape {
  display: flex;
  width: 38px;
  height: 104px;
  position: relative;
  overflow: hidden;
  background: #FFFFFF;
}
.shape::after {
  content: "";
  display: flex;
  width: 108px;
  height: 108px;
  position: absolute;
  transform: translate(0%, -50%);
  top: 50%;
  right: 0;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset 0px 4px 15px 10px rgba(0, 0, 0, 0.12);
}

@media (max-width: 1100px) {
  .stages__list li {
    padding: 32px 70px 32px 79px;
  }
  .stages__list-img {
    display: none;
  }
}
@media (max-width: 650px) {
  .stages__list li {
    padding: 24px 22px 32px 50px;
  }
}
/*
!---------------partners----------------!
*/
.partners {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 120px;
}
.partners h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
}
.partners__list {
  margin-top: 90px;
}
.partners__list ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 66px;
}
.partners__list li {
  border-right: 0.5px solid #D7D7DD;
  border-left: 0.5px solid #D7D7DD;
  width: 25%;
  height: 188px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 10px;
}
.partners__list li h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  color: #363738;
}
.partners__list li p {
  margin-top: 14px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6B6B6C;
}
.partners__list-image {
  width: auto;
  height: 101px;
  display: flex;
  align-items: center;
}
.partners__list-image img {
  width: 100%;
}
/*
!-------------------adaptive--------------------!
*/
@media (max-width: 992px) {
  .partners__list {
    margin-top: 64px;
  }
  .partners__list li {
    width: 33%;
  }
}
@media (max-width: 745px) {
  .partners__list {
    margin-top: 54px;
  }
  .partners__list li {
    width: 50%;
  }
}
/*
!----------------------staff------------------!
*/
.staff {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 129px;
}
.staff h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
}
.staff__list {
  margin-top: 72px;
}
.staff__list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 2.41%;
  justify-content: space-between;
}
.staff__list li {
  display: flex;
  flex: 0 1 48.79%;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  padding: 32px 32px 40px 81px;
  position: relative;
}
.staff__list-color {
  width: 8.43%;
  height: 100%;
  background: #0B7572;
  position: absolute;
  top: 0;
  left: 0;
}
.staff__list-content {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.staff__list-image {
  width: 138px;
  height: 138px;
}
.staff__list-image img {
  width: 100%;
  height: 100%;
}
.staff__list-text h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #363738;
}
.staff__list-text p {
  margin-top: 16px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6B6B6C;
}
.staff__list-text p::after {
  margin-top: 12px;
  content: "";
  display: flex;
  width: 86px;
  height: 3px;
  background: yellow;
}
.staff__list-socials {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 25px;
  height: 33px;
}
.staff__list-socials a {
  transition: 0.5s;
  display: flex;
  padding: 5px;
  border-radius: 15%;
  align-items: end;
}
.staff__list-socials a:hover {
  background: yellow;
}

/*
!----------------adaptive----------------!
*/
@media (max-width: 992px) {
  .staff__list-content {
    flex-direction: column;
    row-gap: 16px;
  }
  .staff__list-image {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 610px) {
  .staff__list li {
    flex: 0 1 100%;
    padding: 24px 24px 40px 10.43%;
  }
  .staff__list-content {
    flex-direction: row;
  }
}
/*
!-----------------------contacts---------------!
*/
.contacts {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 130px;
}
.contacts h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
}
.contacts__box {
  display: flex;
  margin-top: 94px;
  justify-content: space-between;
}
.contacts__left ul {
  display: flex;
  flex-direction: column;
  row-gap: 44px;
}
.contacts__left li {
  display: flex;
  -moz-column-gap: 36.7px;
       column-gap: 36.7px;
}
.contacts__left-icon {
  display: flex;
  align-items: center;
}
.contacts__left-text p {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6B6B6C;
}
.contacts__left-text h4 {
  margin-top: 8px;
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #363738;
}
.contacts__right {
  width: 794px;
}
.contacts__right ul {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 40px 72px 56px 48px;
}
.contacts__right li {
  display: flex;
  -moz-column-gap: 56px;
       column-gap: 56px;
  padding-bottom: 16px;
}
.contacts__right li:not(:last-child) {
  border-bottom: 1px solid #E9EAF2;
}
.contacts__right-title {
  min-width: 175px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #6B6B6C;
}
.contacts__right-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #363738;
}

@media (max-width: 1080px) {
  .contacts__box {
    flex-direction: column;
  }
  .contacts__right {
    width: 100%;
  }
  .contacts__right ul {
    row-gap: 16px;
    padding: 32px 28px 48px;
  }
  .contacts__right li {
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
@media (max-width: 600px) {
  .contacts__right ul {
    padding: 32px 24px 48px;
  }
  .contacts__right li {
    flex-direction: column;
    row-gap: 14px;
  }
}