.hero {

  &__list {
    @include u-container;
    margin-top: -106px;
    position: relative;
    z-index: 3;

    ul {
      display: flex;
      padding: 40px 1.29% 40px;
      justify-content: space-between;
      background: #FFFFFF;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
      border-radius: 20px;

      li {
        padding: 0 5.24%;
        a{
          transition: 0.3s;
        }
        a:hover{
          opacity: 0.8;
        }
        a:active{
          opacity: 0.5;
        }
        &:not(:first-child) {
          border-left: 1px solid #D7D7DD;
        }
      }
    }
  }

  &__list-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
    height: 92px;
    background: #E9E9EC;
    border-radius: 50%;
  }

  &__list-title-box {
    h3 {
      margin-top: 24px;
      font-family: 'Exo 2';
      font-weight: 600;
      font-size: 20px;
      line-height: 135%;
      color: #363738;
    }

    p {
      margin-top: 16px;
      font-family: 'PT Sans';
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #6B6B6C;
    }
  }
}

/*
!--------------------adaptive--------------!
*/
@media (max-width: 768px) {

  .hero__list {
    margin-top: 0px;

    ul {
      flex-direction: column;
      background: none;
      box-shadow: none;
      border-radius: none;
      row-gap: 16px;

      li {
        padding: 32px;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        border-radius: 20px;

        &:not(:first-child) {
          border-left: none;
        }

        a {
          display: flex;
          column-gap: 32px;

          h3 {
            margin: 0;
          }

          p {
            margin-top: 20px;
          }
        }
      }
    }
  }

  .hero__list-img {
    box-sizing: content-box;
    min-width: 90px;
    height: 90px;
  }
}

@media (max-width: 522px) {

  .hero__list {
    margin-top: -125px;
    ul {
      display: flex;
      padding: 24px 27px 32px 32px;
      justify-content: space-between;
      background: #FFFFFF;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      row-gap: 24px;

      li {
        padding: 0;
        justify-content: space-between;
        background: none;
        box-shadow: none;
        border-radius: none;
        a{
          display: inline-flex;
          flex-direction: column;
          row-gap: 16px;
        }

      }
    }
  }

}