/*
!----------------------- подключения стилей-------------------!
*/
@import "_nullstyle";

/*
!---------------------- Подключения шрифта -------------------!
*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=PT+Sans:wght@400;700&display=swap');

/*
font-family: 'Exo 2', sans-serif;
font-family: 'PT Sans', sans-serif;
*/
/*
!-----------mixin-----------!
*/
@mixin u-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

@mixin h2-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
}

/*
!----------------------  -------------------!
*/

body {
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

/*
!-------------header-------------!
*/
@import "_header";
/*
!--------hero----------!
*/
@import "_hero";
/*
!-------------poll----------------!
*/
@import "_poll";
/*
!----------------advantages-------------!
*/
@import "_advantages";
/*
!------------------completed--------------!
*/
@import "_completed";
/*
!----------------attracted----------------!
*/
@import "_attracted";